*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    
}
.btn{
    color: #fff;
    background: none;
    border: 2px solid #5BE9B9;
    border-radius: 10px;
    padding: 5px;
}.btn:hover{
    background: #5BE9B9;
}
.icoImg{
    width: 30px;
    padding: 5px;
}
.title{
    font-weight: 800;
    font-size: 2em;
    color: #fff;
}
.span{
    color: #fff;
    padding: 5px;
}
/* ---------------navbar */
.loader{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
}
.loader span{
    position: relative;
    font-size: 1.5em;
    padding: 5px;
    color: rgba(14, 16, 110, 0.815);
    animation: animate 2s ease-in-out infinite;
    display: inline-block;
    animation-delay:calc(0.1s * var(--z)) ;
}
.img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.card{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height:40vh;
    margin: 5px;
}
@keyframes animate{
    0%,40%,100%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-50px);
        filter: drop-shadow(0 0 20px rgba(14, 16, 110, 0.815));
        box-shadow: 0 30px 0 rgba(14, 16, 110, 0.815),0 -30px 0 rgba(14, 16, 110, 0.815);
    }
}
/* -------------container */
.container{
    width: 100%;
    height: 50vh;
    margin-top: 30px;
}
.presentacion{
    margin: auto;
    /* background: rgb(14, 35, 131); */
}
h1,p{
    text-align: center;
    color: rgb(44, 43, 43);
}
h1{
    font-size: 2.5em;
}
p{
    font-size:1.2em;
    padding: 30px;
    color: rgb(70, 68, 68);
}
.boxp{
    /* background: red;  */
    margin-top: 60px;
    display: block;
    margin-bottom: 15vh;
}
.mario{
    text-align: center;
    height: 35vh;
    margin-left: 45%;
}
.Media{
    margin-top: 40%;
    padding: 0;
}.col{
    padding: 0;
    margin-left: 5px;
    margin-bottom: 20px;
}
/* --------contenedor numero 1 */
.contenedor1{
    background-color: rgba(14, 16, 110, 0.815);
    height: 80vh;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    border-radius: 6px;
}
.contenedor1 > h2{
    padding-top: 25vh;
}
.subbox{
    width: 60%;
    margin: 0 auto;
}
.subbox > p{
    color: #fff;
}
/* ----contenedor2 */
.contenedor2{
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
    border-radius: 15px;
    margin-top: 50px;
}
.cont2box1{
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius:8px ;
    background-color: white;
}
.imgbox{
    margin-left: 40%;
    margin-top: 10vh;

}
.sas{
    width: 90px;
}
.cont2box1 > h2{
    color: rgb(44, 43, 43);
    text-align: center;
    margin-top: 25px;
}
.cont2text{
    color: rgba(14, 16, 110, 0.815);
    bottom: 0;
}
/*galeria de proyectos*/
.portafolio{
    display: block;    
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40%;
}

.imagen-port{
    border-radius: 15px;
    width: 90%;
    height: 40vh;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 10px 10px  #8888886c;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(14, 16, 110, 0.664);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.fotter{
    background-color: rgba(14, 16, 110, 0.815);
    width: 100%;
    color: white;
    display: inline-block;
}

.caja{
    display: flex;
    color: #fff;
    margin: 0 auto;
    width: 60%;
   padding: 50px;
   
}
h3{
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
}
.tetx1{
    color: #fff;
    
}
.boton{
    color: #fff;
    border: 3px solid rgba(5, 6, 44, 0.87);
    border-radius: 30px;
    padding: 15px;
}
.boton:hover{
    background-color: rgba(5, 6, 44, 0.87);
    color: #fff;
    transition: 1s;
}
.caja2{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.icofoter{
    width: 9%;
    text-align: center;
   
}
.eslogan{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(175, 175, 175);
    line-height: 3em; 
    letter-spacing: 7px;
}
.eslogan1{
    color: #fff;
    letter-spacing: 6px;
}
.box{
    width: 90%;
    margin: 0 auto;
}
@media (max-width: 1496px){
    .contenedor1{height: 100vh;}
    .Media{margin-top: 30%;}
}
@media (max-width: 1268px){
    .Media{margin-top: 40%;}
}
@media (max-width: 940px){
    .contenedor1{height: 100vh;}
    .Media{margin-top: 50%;}
}@media (max-width: 786px){
    .contenedor1{height: 100vh;}
    .Media{margin-top: 70%;}
}@media (max-width: 632px){
    .contenedor1{height: 110vh;}
    .Media{margin-top: 90%;}
}@media (max-width: 552px){
    .Media{margin-top: 100%;}
}@media (max-width: 512px){
    .Media{margin-top: 110%;}
}@media (max-width: 477px){
    .Media{margin-top: 120%;}
}

@media (max-width: 460px){
    .contenedor1{height: 120vh;}
    .Media{margin-top: 140%;}
}

@media (max-width: 440px){
    .Media{margin-top: 150%;}
}

@media (max-width: 418px){
    .contenedor1{height: 130vh;}
    .Media{margin-top: 160%;}
}
@media (max-width: 400px){
    .Media{margin-top: 180%;}
}
@media (max-width: 366px){
    .Media{margin-top: 200%;}
}
@media (max-width: 356px){
    .contenedor1{height: 150vh;}
    .Media{margin-top: 220%;}
}
@media (max-width: 318px){
    .contenedor1{height: 170vh;}
    .Media{margin-top: 240%;}
}
@media (max-width: 316px){
    .Media{margin-top: 260%;}
}
@media (max-width: 302px){
    .Media{margin-top: 280%;}
}
@media (max-width: 290px){
    .contenedor1{height: 190vh;}
    .Media{margin-top: 300%;}
}
@media (max-width: 280px){
    .Media{margin-top: 320%;}
}