*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}
/* ---------------navbar */
.navbar{
    margin-top: 50px;
    text-align: center;
}
ul{
    padding-left:70% ;
    display: flex;
    margin: 20px;
    list-style: none;
    text-align: center;
    
}
a{
    color: black;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}


.cva{
    color: rgb(14, 16, 110);
    text-align: center;
    font-size:1.5em;
    border: 2px solid rgb(14, 16, 110);
    border-radius: 15px;
    padding: 6px;
    
}
.cva:hover{
    background-color: rgb(14, 16, 110);
    transition:1s;
    color: #fff;
}
a:hover{
    color:rgb(14, 16, 110) ;
    
}
/* -------------container */
.container{
    /* background: red; */
    width: 100%;
    height: 50vh;
    margin-top: 70px;
    
}
.presentacion{
    margin: auto;
    /* background: rgb(14, 35, 131); */
}
h1,p{
    text-align: center;
    color: rgb(44, 43, 43);
}
h1{
    font-size: 2.5em;
}
p{
    font-size:1.2em;
    padding: 30px;
    color: rgb(70, 68, 68);
}
.boxp{
    /* background: red;  */
    margin-top: 60px;
    display: block;
    margin-bottom: 15vh;
}
.mario{
    text-align: center;
    height: 35vh;
    margin-left: 45%;
}

/* --------contenedor numero 1 */
.contenedor1{
    background-color: rgba(14, 16, 110, 0.815);
    height: 80vh;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
}
.contenedor1 > h2{
    padding-top: 25vh;
    
}
.subbox{
    /*background-color: aqua;*/
    width: 60%;
    margin: 0 auto;
}
.subbox > p{
    color: #fff;
}
/* ----contenedor2 */
.contenedor2{
    box-shadow: 5px 10px 10px  #88888849;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.575);
    background-color: white;
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 65vh;
    border-radius: 15px;
}
.cont2box1{
    width: 50%;
    padding: 5px;
    height: auto;
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius:8px ;
}
.imgbox{
    margin-left: 40%;
    margin-top: 10vh;

}
.sas{
    width: 90px;
}
.cont2box1 > h2{
    color: rgb(44, 43, 43);
    text-align: center;
    margin-top: 25px;
}
.cont2text{
    color: rgba(14, 16, 110, 0.815);
    bottom: 0;
}
/* -----------CONTENEDOR 3 */
.contenedor3{
    margin-top: 20vh;
    
}
/*galeria de proyectos*/
.portafolio{
    
    /*background-color: aqua;*/
    display: block;
    
    
}
.contenedor{
    /*background-color: aquamarine;*/
    margin: 0 auto;
    display: flex;
    width: 90%;
    
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40%;
}

.imagen-port{
    border-radius: 15px;
    width: 90%;
    height: 40vh;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);*/
    box-shadow: 5px 10px 10px  #8888886c;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(14, 16, 110, 0.664);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.fotter{
    
    background-color: rgba(14, 16, 110, 0.815);
    height: 90vh;
    width: 100%;
    color: white;
    display: inline-block;
}

.caja{
    display: flex;
    color: #fff;
    margin: 0 auto;
    width: 60%;
   padding: 50px;
   
}
h3{
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
}
.tetx1{
    color: #fff;
    
}
.boton{
    color: #fff;
    border: 3px solid rgba(5, 6, 44, 0.87);
    border-radius: 30px;
    padding: 15px;
}
.boton:hover{
    background-color: rgba(5, 6, 44, 0.87);
    color: #fff;
    transition: 1s;
}
.caja2{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.icofoter{
    width: 9%;
    text-align: center;
   
}
.eslogan{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(175, 175, 175);
    line-height: 3em; 
    letter-spacing: 7px;
}
.eslogan1{
    color: #fff;
    letter-spacing: 6px;
}